.mouse {
    width: 4rem;
    height: 5rem;
    border: 2px solid $bg-lighter;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    padding: 0.35rem;
    &::before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $bg-lighter;
        border-radius: 50%;
        opacity: 1;
        -webkit-animation: wheel 1.3s infinite;
        animation: wheel 1.3s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}