.skills {
    display: flex;
    flex-wrap: wrap;
    &__skill {
        padding: 1rem 2rem;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1.6rem;
        background: $bg-darker;
        border-radius: $border-radius;
        font-weight: $norm-text;
        color: $text-dark-secondary;
    }
}