// Fonts
$heading: Roboto, sans-serif;
$sub-heading: 'Hind Siliguri', sans-serif;
$text: 'Hind Guntur', sans-serif;

// Borders
$border-radius: 5px;

// Colors
$bg-darker: #E1E2E1;
$bg-lighter: #F5F5F6;
$primary: #b0bec5;
$primary-light: #e2f1f8;
$primary-dark: #808e95;
$secondary: #455a64;
$secondary-light: #718792;
$secondary-dark: #1c313a;
$themeClrPrimary: #0062b9;